/* CORES */
:root {
  --color-laranja: #F57C00;
  --color-laranja-hover: #E56F00;

  --color-preto: #1F2A33;
  --color-preto-texto: #1E1E1E;
  --color-branco: #FFF;

  --color-fundo-branco: #F4F4F4;
  --color-borda: #D9D9D9;
  --color-texto-secundario: #6B6B6B;

  --color-estrela: #FFC107;
  --color-sucesso: #4CAF50;

  --color-rodape-bg: #1B2630;
}

/* TAMANHO */
:root{
  --text-link: clamp(15px, 2vw, 19px);
  --text-link-responsivo: clamp(18px, 2vw, 22px);

  --text-butao-principal: clamp(16px, 2vw, 20px);
  --text-butao: clamp(12px, 2vw, 17px);
  --text-butao-responsivo: clamp(18px, 2vw, 22px);

  --text-redes: clamp(17px, 2vw, 19px);

  --text-titulo: clamp(40px, 4vw, 62px);
  --text-subtitulo: clamp(26px, 3vw, 32px);

  --text-titulo-secundario: clamp(32px, 4vw, 45px);
  --text-subtitulo-secundario: clamp(23px, 3vw, 30px);

  --img-logo: clamp(40px, 3vw, 48px);

  --width-links: clamp(100px, 95vw, 700px);
}

:root{
  --family-principal: 'Inter', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', Arial,
    sans-serif;
}