@import './base.css';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-branco);
    font-family: var(--family-principal);
    user-select: none;
}

html, body {
  height: 100%;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

button{
    background-color: var(--color-laranja);
    border-radius: 5px;
    border: none;
    padding: 11px 10px;
    cursor: pointer;
    font-size: var(--text-butao);
    text-shadow: 10px 10px 25px #1f1f1f;
    box-shadow: 2px 2px 7px 1px rgba(255, 255, 255, 0.3);
    transition: ease-in-out 300ms;
}

button:hover{
    background-color: var(--color-laranja-hover);
    transform: scale(1.02);
}
