@import './base.css';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-branco);
    font-family: var(--family-principal);
}

a{
    text-decoration: none;
}

button{
    background-color: var(--color-laranja);
    border-radius: 5px;
    border: none;
    padding: 10px;
}